# Dependency folders (Ye size me bohot bada hota h, ise push nahi karte)
node_modules/

# Local environment variables / Secrets (Locker file)
.env

# System files
.DS_Store/
Thumbs.db

# Log files (Agar project me logs bante hain toh)
logs/
*.log

# Local binary/executable folders (Agar root me dikhe toh)
.bin/
bin/
.vscode/